.layout{
    margin: 30px 50px;
}



.textH1 {
    font-size: 24px;
    font-weight: 400;
    color: #f5f0e1;
    text-shadow: 1px 1px 4px rgba(109, 81, 21, 0.6);
}

.H1HeaderContainer {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    justify-content: end;
}

.h1Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
    min-width: 1000px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.intro {
    background: rgba(40, 30, 10, 0.7);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 40px;
    line-height: 1.6;
    border: 1px solid rgba(184, 134, 11, 0.3); }

.cartContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: rgba(40, 30, 10, 0.7);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
}