.section {
    margin-bottom: 60px;
    position: relative;
}

.section::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 3px;
    background: linear-gradient(90deg,
            transparent,
            #b8860b,
            #cbb376,
            #b8860b,
            transparent);
    animation: borderFlow 8s linear infinite;
}

@keyframes borderFlow {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.title {
    color: #f8d49e;
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 20px 0 0;
}

.subtitle {
    color: #f8d49e;
    font-size: 24px;
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    max-width: 90vw;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .title {
        font-size: 28px;
    }

    .subtitle {
        font-size: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}