.button {
    background: #d6b53dc4;
    border: 1px solid #6d5115;
    border-radius: 5px;
    padding: 10px;
    font-size: 28px;
    font-weight: bold;
    color: white;
    width: 300px;
    font-style: normal;background: linear-gradient(to left, #f7ee8f88, #f1c40fb9, #f7ee8f8b);
    background-size: 200% auto;
    animation: gradientFlow 3s linear infinite;
    animation-play-state: paused;
}
    
.button:hover {
    animation-play-state: running;
    cursor: pointer;
}
    
@keyframes gradientFlow {
    0% {
        background-position: 0% center;
    }
    
    100% {
         background-position: 200% center;
    }
}

.small {
    width: 150px;
    padding: 8px 10px;
}