.header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.mainTitle {
    font-size: 56px;
    margin: 0;
    background: linear-gradient(to right,
            #fcfcfbd4,
            #cfb783,
            #e6c200,
            #c9ae74,
            #fcfcfbd4);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(62, 22, 1, 0.732);
    padding: 15px 50px;
    display: inline-block;
    position: relative;
    animation: metalShine 5s linear infinite;
}

.subTitle {
    font-size: 48px;
    margin: 0;
    background: linear-gradient(to right,
            #fcfcfbd4,
            #cfb783,
            #e6c200,
            #c9ae74,
            #fcfcfbd4);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(62, 22, 1, 0.732);
    padding: 10px 40px;
    display: inline-block;
    position: relative;
    animation: metalShine 5s linear infinite 0.5s;
}

.companyName {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #fbf0cce1;
    text-shadow: 1px 5px 5px rgba(62, 22, 1, 0.5);
    padding: 8px 30px;
    display: inline-block;
}



.mainTitle::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.mainTitle::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.subTitle::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.subTitle::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

@keyframes metalShine {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 200% center;
    }
}

@media (max-width: 768px) {
    .mainTitle {
        font-size: 42px;
        padding: 10px 30px;
    }

    .subTitle {
        font-size: 36px;
        padding: 8px 25px;
    }

    .companyName {
        font-size: 22px;
        padding: 6px 20px;
    }

    .mainTitle::before,
    .mainTitle::after,
    .subTitle::before,
    .subTitle::after {
        width: 20px;
        height: 20px;
    }
}