.header {
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}

.mainTitle {
    font-size: 56px;
    margin: 0;
    background: linear-gradient(to right,
            #f8f4e6,
            #d4af37,
            #f5d062,
            #d4af37,
            #f8f4e6);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 8px rgba(109, 81, 21, 0.6);
    padding: 15px 50px;
    display: inline-block;
    position: relative;
    animation: metalShine 5s linear infinite;
}

.subTitle {
    font-size: 48px;
    margin: 0;
    background: linear-gradient(to right,
            #f8f4e6,
            #d4af37,
            #f5d062,
            #d4af37,
            #f8f4e6);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 6px rgba(109, 81, 21, 0.6);
    padding: 10px 40px;
    display: inline-block;
    position: relative;
    animation: metalShine 5s linear infinite 0.5s;
}

.companyName {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    color: #f8e8c8;
    text-shadow: 1px 1px 4px rgba(109, 81, 21, 0.6);
    padding: 8px 30px;
    display: inline-block;
}

.mainTitle::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.mainTitle::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

.subTitle::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
}

.subTitle::after {
    bottom: 0;
    right: 0;
    border-left: none;
    border-top: none;
}

@keyframes metalShine {
    0% {
        background-position: 0% center;
    }

    100% {
        background-position: 200% center;
    }
}

@media (max-width: 1200px) {
    .header{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .mainTitle {
        font-size: 48px;
        padding: 12px 0px;
    }

    .subTitle {
        font-size: 48px;
        padding: 8px 0px;
    }

    .companyName {
        font-size: 24px;
    }
}

@media (max-width: 1024px) {
    .mainTitle {
        font-size: 36px;
        padding: 12px 0px;
    }

    .subTitle {
        font-size: 36px;
        padding: 8px 0px;
    }

    .companyName {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .mainTitle {
        font-size: 30px;
        padding: 6px 0;
    }

    .subTitle {
        font-size: 30px;
        padding: 6px 0;
    }

    .companyName {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .mainTitle {
        font-size: 24px;
        padding: 8px 0px;
    }

    .subTitle {
        font-size: 24px;
        padding: 5px 0px;
    }

    .companyName {
        font-size: 18px;
        padding: 5px 15px;
    }
}